#H3_1 {
    box-sizing: border-box;
    height: 22px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 637.656px;
    perspective-origin: 318.828px 11px;
    transform-origin: 318.828px 11px;
    font: normal normal 400 normal 22px / 22px oswald;
    margin: 0px 0px 15px;
} /*#H3_1*/

