#ABOUTDIV_1,
#ABOUTDIV_2 {
    color: rgba(0, 0, 0, 0.87);
    height: 1057px;
    text-decoration: none solid rgba(0, 0, 0, 0.87);
    width: 1125px;
    column-rule-color: rgba(0, 0, 0, 0.87);
    perspective-origin: 562.5px 528.5px;
    transform-origin: 562.5px 528.5px;
    caret-color: rgba(0, 0, 0, 0.87);
    border: 0px none rgba(0, 0, 0, 0.87);
    font: normal normal 400 normal 14px / 20.5001px Roboto, Helvetica, Arial,
        sans-serif;
    outline: rgba(0, 0, 0, 0.87) none 0px;
} /*#ABOUTDIV_1, #ABOUTDIV_2*/

#ABOUTDIV_3 {
    background-position: 0px 0px;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 66px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 0px;
    width: 1024px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 512px 33px;
    transform-origin: 512px 33px;
    caret-color: rgb(255, 255, 255);
    background: rgb(0, 0, 0) none repeat scroll 0px 0px / auto padding-box
        border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 30px / normal oswald;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px 30px;
} /*#ABOUTDIV_3*/

#ABOUTDIV_3:after {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 30px / normal oswald;
    outline: rgb(255, 255, 255) none 0px;
} /*#ABOUTDIV_3:after*/

#ABOUTDIV_3:before {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 30px / normal oswald;
    outline: rgb(255, 255, 255) none 0px;
} /*#ABOUTDIV_3:before*/

#ABOUTSECTION_4 {
    background-position: 0px 0px;
    bottom: 0px;
    box-sizing: border-box;
    display: inline-block;
    height: 991px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: bottom;
    width: 1024px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 512px 495.5px;
    transform-origin: 512px 495.5px;
    caret-color: rgb(97, 97, 97);
    background: rgb(255, 255, 255) none repeat scroll 0px 0px / auto padding-box
        border-box;
    border-top: 3px solid rgb(0, 0, 0);
    border-right: 0px none rgb(97, 97, 97);
    border-bottom: 0px none rgb(97, 97, 97);
    border-left: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
    padding: 30px;
} /*#ABOUTSECTION_4*/

#ABOUTH2_5 {
    box-sizing: border-box;
    height: 26px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 964px;
    perspective-origin: 482px 13px;
    transform-origin: 482px 13px;
    caret-color: rgb(97, 97, 97);
    font: normal normal 400 normal 26px / 26px oswald;
    margin: 0px 0px 15px;
} /*#ABOUTH2_5*/

#ABOUTH2_5:after {
    text-size-adjust: 100%;
    text-transform: uppercase;
    caret-color: rgb(97, 97, 97);
    font: normal normal 400 normal 26px / 26px oswaldregular;
} /*#ABOUTH2_5:after*/

#ABOUTH2_5:before {
    text-size-adjust: 100%;
    text-transform: uppercase;
    caret-color: rgb(97, 97, 97);
    font: normal normal 400 normal 26px / 26px oswaldregular;
} /*#ABOUTH2_5:before*/

#ABOUTP_6,
#ABOUTP_13 {
    box-sizing: border-box;
    color: rgb(12, 6, 3);
    height: 38px;
    text-align: justify;
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    width: 964px;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    perspective-origin: 482px 19px;
    transform-origin: 482px 19px;
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTP_6, #ABOUTP_13*/

#ABOUTP_6:after,
#ABOUTP_13:after {
    color: rgb(12, 6, 3);
    text-align: justify;
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTP_6:after, #ABOUTP_13:after*/

#ABOUTP_6:before,
#ABOUTP_13:before {
    color: rgb(12, 6, 3);
    text-align: justify;
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTP_6:before, #ABOUTP_13:before*/

#ABOUTP_7 {
    box-sizing: border-box;
    color: rgb(12, 6, 3);
    height: 95px;
    text-align: justify;
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    width: 964px;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    perspective-origin: 482px 47.5px;
    transform-origin: 482px 47.5px;
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTP_7*/

#ABOUTP_7:after {
    color: rgb(12, 6, 3);
    text-align: justify;
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTP_7:after*/

#ABOUTP_7:before {
    color: rgb(12, 6, 3);
    text-align: justify;
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTP_7:before*/

#ABOUTHR_8,
#ABOUTHR_11,
#ABOUTHR_15,
#ABOUTHR_38 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    height: 1px;
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    width: 964px;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 482px 0.5px;
    transform-origin: 482px 0.5px;
    caret-color: rgb(97, 97, 97);
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(
            left,
            rgb(0, 0, 0),
            rgb(0, 0, 0) 30%,
            rgb(225, 225, 225) 0px,
            rgb(225, 225, 225)
        ) repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    margin: 25px 0px 30px;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTHR_8, #ABOUTHR_11, #ABOUTHR_15, #ABOUTHR_38*/

#ABOUTHR_8:after,
#ABOUTHR_11:after,
#ABOUTHR_15:after,
#ABOUTHR_38:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTHR_8:after, #ABOUTHR_11:after, #ABOUTHR_15:after, #ABOUTHR_38:after*/

#ABOUTHR_8:before,
#ABOUTHR_11:before,
#ABOUTHR_15:before,
#ABOUTHR_38:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTHR_8:before, #ABOUTHR_11:before, #ABOUTHR_15:before, #ABOUTHR_38:before*/

#ABOUTH3_9,
#ABOUTH3_12,
#ABOUTH3_16 {
    box-sizing: border-box;
    height: 22px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 964px;
    perspective-origin: 482px 11px;
    transform-origin: 482px 11px;
    caret-color: rgb(97, 97, 97);
    font: normal normal 400 normal 22px / 22px oswald;
    margin: 0px 0px 15px;
} /*#ABOUTH3_9, #ABOUTH3_12, #ABOUTH3_16*/

#ABOUTH3_9:after,
#ABOUTH3_12:after,
#ABOUTH3_16:after {
    text-size-adjust: 100%;
    text-transform: uppercase;
    caret-color: rgb(97, 97, 97);
    font: normal normal 400 normal 22px / 22px oswaldregular;
} /*#ABOUTH3_9:after, #ABOUTH3_12:after, #ABOUTH3_16:after*/

#ABOUTH3_9:before,
#ABOUTH3_12:before,
#ABOUTH3_16:before {
    text-size-adjust: 100%;
    text-transform: uppercase;
    caret-color: rgb(97, 97, 97);
    font: normal normal 400 normal 22px / 22px oswaldregular;
} /*#ABOUTH3_9:before, #ABOUTH3_12:before, #ABOUTH3_16:before*/

#ABOUTP_10 {
    box-sizing: border-box;
    color: rgb(12, 6, 3);
    height: 19px;
    text-align: justify;
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    width: 964px;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    perspective-origin: 482px 9.5px;
    transform-origin: 482px 9.5px;
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTP_10*/

#ABOUTP_10:after {
    color: rgb(12, 6, 3);
    text-align: justify;
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTP_10:after*/

#ABOUTP_10:before {
    color: rgb(12, 6, 3);
    text-align: justify;
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTP_10:before*/

#ABOUTBR_14 {
    box-sizing: border-box;
    color: rgb(12, 6, 3);
    text-align: justify;
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTBR_14*/

#ABOUTBR_14:after {
    color: rgb(12, 6, 3);
    text-align: justify;
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTBR_14:after*/

#ABOUTBR_14:before {
    color: rgb(12, 6, 3);
    text-align: justify;
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTBR_14:before*/

#ABOUTDIV_17 {
    height: 380px;
    text-size-adjust: 100%;
    width: 964px;
    perspective-origin: 482px 190px;
    transform-origin: 482px 190px;
    caret-color: rgb(97, 97, 97);
    font: normal normal 400 normal 15px / normal open_sansregular;
} /*#ABOUTDIV_17*/

#ABOUTDIV_17:after {
    text-size-adjust: 100%;
    caret-color: rgb(97, 97, 97);
    font: normal normal 400 normal 15px / normal open_sansregular;
} /*#ABOUTDIV_17:after*/

#ABOUTDIV_17:before {
    text-size-adjust: 100%;
    caret-color: rgb(97, 97, 97);
    font: normal normal 400 normal 15px / normal open_sansregular;
} /*#ABOUTDIV_17:before*/

#ABOUTBR_18,
#ABOUTBR_19,
#ABOUTBR_21,
#ABOUTBR_23,
#ABOUTBR_25,
#ABOUTBR_27,
#ABOUTBR_29,
#ABOUTBR_31,
#ABOUTBR_33,
#ABOUTBR_35 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTBR_18, #ABOUTBR_19, #ABOUTBR_21, #ABOUTBR_23, #ABOUTBR_25, #ABOUTBR_27, #ABOUTBR_29, #ABOUTBR_31, #ABOUTBR_33, #ABOUTBR_35*/

#ABOUTBR_18:after,
#ABOUTBR_19:after,
#ABOUTBR_21:after,
#ABOUTBR_23:after,
#ABOUTBR_25:after,
#ABOUTBR_27:after,
#ABOUTBR_29:after,
#ABOUTBR_31:after,
#ABOUTBR_33:after,
#ABOUTBR_35:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTBR_18:after, #ABOUTBR_19:after, #ABOUTBR_21:after, #ABOUTBR_23:after, #ABOUTBR_25:after, #ABOUTBR_27:after, #ABOUTBR_29:after, #ABOUTBR_31:after, #ABOUTBR_33:after, #ABOUTBR_35:after*/

#ABOUTBR_18:before,
#ABOUTBR_19:before,
#ABOUTBR_21:before,
#ABOUTBR_23:before,
#ABOUTBR_25:before,
#ABOUTBR_27:before,
#ABOUTBR_29:before,
#ABOUTBR_31:before,
#ABOUTBR_33:before,
#ABOUTBR_35:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTBR_18:before, #ABOUTBR_19:before, #ABOUTBR_21:before, #ABOUTBR_23:before, #ABOUTBR_25:before, #ABOUTBR_27:before, #ABOUTBR_29:before, #ABOUTBR_31:before, #ABOUTBR_33:before, #ABOUTBR_35:before*/

#ABOUTBR_20,
#ABOUTBR_22,
#ABOUTBR_26,
#ABOUTBR_30,
#ABOUTBR_34 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTBR_20, #ABOUTBR_22, #ABOUTBR_26, #ABOUTBR_30, #ABOUTBR_34*/

#ABOUTBR_20:after,
#ABOUTBR_22:after,
#ABOUTBR_26:after,
#ABOUTBR_30:after,
#ABOUTBR_34:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTBR_20:after, #ABOUTBR_22:after, #ABOUTBR_26:after, #ABOUTBR_30:after, #ABOUTBR_34:after*/

#ABOUTBR_20:before,
#ABOUTBR_22:before,
#ABOUTBR_26:before,
#ABOUTBR_30:before,
#ABOUTBR_34:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTBR_20:before, #ABOUTBR_22:before, #ABOUTBR_26:before, #ABOUTBR_30:before, #ABOUTBR_34:before*/

#ABOUTBR_24,
#ABOUTBR_28,
#ABOUTBR_36 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTBR_24, #ABOUTBR_28, #ABOUTBR_36*/

#ABOUTBR_24:after,
#ABOUTBR_28:after,
#ABOUTBR_36:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTBR_24:after, #ABOUTBR_28:after, #ABOUTBR_36:after*/

#ABOUTBR_24:before,
#ABOUTBR_28:before,
#ABOUTBR_36:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTBR_24:before, #ABOUTBR_28:before, #ABOUTBR_36:before*/

#ABOUTBR_32 {
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTBR_32*/

#ABOUTBR_32:after {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTBR_32:after*/

#ABOUTBR_32:before {
    color: rgb(97, 97, 97);
    text-decoration: none solid rgb(97, 97, 97);
    text-size-adjust: 100%;
    column-rule-color: rgb(97, 97, 97);
    caret-color: rgb(97, 97, 97);
    border: 0px none rgb(97, 97, 97);
    font: normal normal 400 normal 13px / normal open_sansregular;
    outline: rgb(97, 97, 97) none 0px;
} /*#ABOUTBR_32:before*/

#ABOUTP_37 {
    box-sizing: border-box;
    color: rgb(12, 6, 3);
    height: 0px;
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    width: 964px;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    perspective-origin: 482px 0px;
    transform-origin: 482px 0px;
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTP_37*/

#ABOUTP_37:after {
    color: rgb(12, 6, 3);
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTP_37:after*/

#ABOUTP_37:before {
    color: rgb(12, 6, 3);
    text-decoration: none solid rgb(12, 6, 3);
    text-size-adjust: 100%;
    word-spacing: 2.6px;
    column-rule-color: rgb(12, 6, 3);
    caret-color: rgb(12, 6, 3);
    border: 0px none rgb(12, 6, 3);
    font: normal normal 400 normal 13px / 19.5px sans-serif;
    outline: rgb(12, 6, 3) none 0px;
} /*#ABOUTP_37:before*/
